extends ../layout

block content
    .wrapper#wrapper

        if message.length > 0
            #alert-messages
                p= message

        .container#main-container
            section(id='login-container' class='center-block')


