extends ../layout

block content
    .wrapper#wrapper

        #alert-messages

            if message.length > 0
                p= message


            p= userNotFound

        .container#main-container
            section(id='login-container' class='center-block')


