extends layout

block content
    body
        .wrapper#wrapper
            //section(id='home' class='center-block')
            //    h1.center-text Sports Dashboard
            //    .btn-container
            //        a(href='/login', class='pointer home-btn btn') Login
            //        a(href='/signup', class='pointer home-btn btn') Sign Up


