doctype html
html
    head
        title= Title
        link(rel='stylesheet', href='/styles/main.css')
    body
        block content

    //script(src='https://unpkg.com/babel-standalone@6.24.0/babel.min.js')
    script(src='https://unpkg.com/react@15.3.1/dist/react.js')
    script(src='https://unpkg.com/react-dom@15.3.1/dist/react-dom.js')
    script(src='/scripts/bundle.js')

