.hide {
  display: none; }

.center-text {
  text-align: center; }

.center-block {
  margin: 0 auto; }

.pointer {
  cursor: pointer; }

.btn {
  color: #333333;
  background-color: #4591fb !important;
  text-transform: uppercase;
  letter-spacing: .02em;
  box-shadow: 0px 4px 0 #3e82e1;
  display: block;
  border-radius: 4px;
  text-align: center;
  height: 38px;
  line-height: 38px;
  margin: 25px 0; }

.home-btn {
  background-color: #f5683d !important;
  color: white !important;
  box-shadow: 0px 4px 0 #f75523 !important; }

.session-module {
  background-color: white;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  position: relative;
  top: 120px;
  font-family: "Open Sans", sans-serif; }
  .session-module h2 {
    padding: 50px 0 0 0;
    font-weight: lighter;
    font-size: 2em; }
  .session-module form {
    width: 100%;
    max-width: 270px; }
  .session-module input {
    display: block;
    margin: 0 0 20px 0;
    border: 0;
    width: 100%;
    height: 38px;
    border-radius: 4px;
    text-align: center;
    background-color: #d3d3d3;
    font-weight: bold; }
  .session-module .btn-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }
  .session-module::before {
    content: url(/img/login-icon.svg);
    position: absolute;
    width: 29px;
    height: 29px;
    padding: 35px;
    left: 50%;
    top: -50px;
    border-radius: 100px;
    margin-left: -50px;
    z-index: 1;
    background-color: #ffd200; }

@media screen and (min-width: 46.875em) {
  .session-module {
    top: 50%;
    left: 50%;
    margin-left: -170px;
    position: absolute; }
    .session-module::after {
      content: '';
      display: block;
      position: absolute;
      width: 26%;
      height: 98px;
      top: -25px;
      left: 152px;
      -webkit-transform: rotate(42deg);
      -moz-transform: rotate(42deg);
      -ms-transform: rotate(42deg);
      -o-transform: rotate(42deg);
      transform: rotate(42deg);
      /*linear-gradient*/
      background: -webkit-gradient(linear, 60.06% 107.04%, 39.94% -7.04%, from(rgba(0, 0, 0, 0.2)), to(transparent));
      background: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
      background: -moz-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
      background: -o-linear-gradient(100deg, black, transparent);
      background: linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent); } }

@media screen and (min-width: 46.875em) {
  #home {
    margin-top: -220px; }
  .home::after {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    width: 120%;
    height: 429px;
    top: 79px;
    left: 92px;
    -webkit-transform: rotate(52deg);
    -moz-transform: rotate(52deg);
    -ms-transform: rotate(52deg);
    -o-transform: rotate(52deg);
    transform: rotate(52deg);
    /*linear-gradient*/
    background: -webkit-gradient(linear, 60.06% 107.04%, 39.94% -7.04%, from(rgba(0, 0, 0, 0.2)), to(transparent));
    background: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
    background: -moz-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
    background: -o-linear-gradient(100deg, black, transparent);
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent); } }

#login-form a {
  color: #f5683d;
  display: inline-block;
  padding: 10px 0 30px 0;
  font-size: .95em; }

@media screen and (min-width: 46.875em) {
  #login-form {
    margin-top: -220px; }
  .login-form::after {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    width: 120%;
    height: 498px;
    top: 72px;
    left: 117px;
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    /*linear-gradient*/
    background: -webkit-gradient(linear, 60.06% 107.04%, 39.94% -7.04%, from(rgba(0, 0, 0, 0.2)), to(transparent));
    background: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
    background: -moz-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
    background: -o-linear-gradient(100deg, black, transparent);
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent); } }

#register-form a {
  color: #f5683d;
  display: inline-block;
  padding: 10px 0 30px 0;
  font-size: .95em; }

@media screen and (min-width: 46.875em) {
  #register-form {
    margin-top: -240px; }
  .register-form::after {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    width: 120%;
    height: 590px;
    top: 64px;
    left: 131px;
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
    /*linear-gradient*/
    background: -webkit-gradient(linear, 60.06% 107.04%, 39.94% -7.04%, from(rgba(0, 0, 0, 0.2)), to(transparent));
    background: -webkit-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
    background: -moz-linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent);
    background: -o-linear-gradient(100deg, black, transparent);
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.2), transparent); } }

body, html, input {
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  background-color: #01ceb8;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

@media screen and (min-width: 46.875em) {
  .wrapper {
    overflow: hidden; } }
